<div class="container center">
    <section>
        <h3>Welcome To Shows Around</h3>
        <div>
            <input type="email" autofocus="true" placeholder="Email" ng-model="auth.email">
        </div>
        <div>
            <input type="password" placeholder="Password" ng-model="auth.password">
        </div>
        <div>
            <button ng-click="login()" class="">Login</button>
            <p>OR</p>
            <button class="" ng-click="openRegisterModal()">Register</button>
        </div>
    </section>
</div> <!-- end container -->

