<div ng-controller="NavCtrl" class="bar bar-footer">
    <div class="tabs tabs-icon-only">
        <button class="tab-item" ng-click="openLocationModal()"><i class="icon ion-ios-navigate-outline"></i></button>
        <button class="tab-item" ui-sref="trackedshows()"><i class="icon ion-ios-star-outline"></i></button>
        <button class="tab-item" href="" ng-click="deleteAllModal()"><i class="icon ion-ios-search"></i></button>
        <button class="tab-item" href="# " ng-click="logout() ">Logout</button>
    </div>
</div>

