
<ion-modal-view class="locationModal-container">
    <ion-header-bar class="locationModal-header-bar">
        <h4 class="locationModal-header">Choose Your Location</h4>
        <button class="button button-icon ion-ios-close-empty locationModal-close-btn" ng-click="closeLocationModal()"></button>
    </ion-header-bar>
    <ion-content class="locationModal-content">
        <input class="locationModal-city-input" type="text" autofocus="true" placeholder="City Name" ng-model="newLocation.city">
        <button ng-click="$parent.loadNewCity()" class="locationModal-entercity-btn">Enter City</button>
    </ion-content>
</ion-modal-view>

