<ion-modal-view class="searchModal-container">
    <ion-header-bar class="searchModal-header-bar">
        <h4 class="searchModal-header">Search For New Artist</h4>
        <button class="button button-icon ion-ios-close-empty searchModal-close-btn" ng-click="closeSearchModal()"></button>
    </ion-header-bar>
    <ion-content class="searchModal-content">
        <input class="searchModal-artist-input" type="text" autofocus="true" placeholder="Artist Name" ng-model="newArtist.name">
        <button ng-click="" class="searchModal-entercity-btn">Search For Artist</button>
    </ion-content>
</ion-modal-view>
