.spotify {
  background-color: #1ED760; }

/***************
LOGIN
***************/
.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login-email,
.login-password {
  width: 75%;
  border-bottom: 1px solid black; }

.login-btn {
  margin-top: 10px; }

.login-btn,
.login-register-btn {
  border: none;
  background-color: #fafafa;
  padding: 0.25em 1.5em;
  font-size: 1.25em;
  color: #424242;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.login-or {
  margin-top: 10px; }

/***************
SPOTIFY
***************/
.spotify-div {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.spotify-header,
.spotify-content {
  text-align: center; }

.spotify-btn {
  background-color: #1ED760;
  border: none;
  padding: 0.25em 1.5em;
  font-size: 1.25em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: white; }

/***************
SET LOCATION
***************/
.setlocation-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.setlocation-enter-btn {
  margin-top: 10px; }

.setlocation-enter-btn,
.setlocation-currentlocation-btn,
.locationModal-entercity-btn,
.locationModal-useCurrentCity-btn {
  border: none;
  background-color: #fafafa;
  padding: 0.25em 1.5em;
  font-size: 1.25em;
  color: #424242;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.setlocation-or {
  margin-top: 10px; }

/***************
Location Modal
***************/
.locationModal-header-bar {
  display: flex;
  justify-content: space-between; }

.locationModal-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.locationModal-entercity-btn {
  margin-top: 10px; }

.locationModal-or {
  margin-top: 10px; }

/***************
NAV BAR
***************/
.shows-navigation {
  padding: 10px;
  display: flex;
  justify-content: center; }

.app-nav {
  background-color: #424242; }

.logo {
  text-decoration: none;
  font-size: 2em;
  color: white; }

/*****************
MEDIA QUERIES
******************/
.cards-list {
  display: grid;
  grid-template-columns: 1fr; }

/*****************
CARD FORMATING
******************/
.card-top {
  position: relative; }

.artist-image {
  width: 100%; }

.show-title {
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  margin-top: 10px; }

.show-date {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 10px; }

.show-time {
  font-size: 1.25em;
  font-weight: 500; }

.show-venue {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px; }

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.links {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .links a {
    text-decoration: none;
    color: #424242;
    font-size: 1.25em;
    font-weight: 100; }

.add-btn {
  text-decoration: none;
  color: #424242;
  font-size: 1.25em;
  font-weight: 100;
  margin-top: 0.75em; }

/*************
Dynamic Font
*************/
.above18 {
  font-size: 2em; }

/*# sourceMappingURL=styles.css.map */
